<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackin: Liberdade de Informação e Direito à Informação. O que é?, Pra que serve?, Como Funciona? e Onde Conseguir?!</title>
    <link rel="icon" href="./svgs/icon_dark.png">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap" rel="stylesheet">
    
    <script data-ad-client="ca-pub-6075850043760657" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="./js/principal.js"></script>
    <link rel="stylesheet" href="./css/principal.css">
    <link rel="stylesheet" href="./css/global.css">
</head>
<body>
    <nav>
        <div class="NavBar">
            <div class="Logo">
                 <img width="25" height="25" src="./svgs/icon.png" alt="">
                 <a href="/">
                     <h6>Hackin</h6>
                 </a>
            </div>
            <div class="Logo">
                <a href="https://news.hackin.online">
                    <p style="font-size: medium;">News</p>
                    <img width="20" height="20" src="./svgs/favicon.ico" alt="">
                </a>
           </div>
        </div>
    </nav>
   <div class="Content">
       <h1>Bem-vindo(a) aos Domínios de Hackin Inc</h1>
       <h6 class="mt-1">Somos uma startup que busca trazer serviços, apps, webapps e outros destinados a levar informação ao público, sem ofuscamento e sem controle da mídia. Você também acha o direito a informação importante? Quer saber sobre tudo que ocorre por aí, sem interferência da grande mídia? Navegue por nossas soluções, e nos apoie se puder.</h6>
       <h2 class="mt-1">Nossos serviços atualmente disponiveis: </h2>
       <div class="Apps">
            <div class="App">
                <a href="https://news.hackin.online" target="_blank"><h6>News Hackin</h6></a>
                <a href="https://news.hackin.online" >https://news.hackin.online</a>
                <img  width="400" height="200" src="./svgs/news_preview.png" alt="">
                <p>Site de noticias, lá voce podera acompanhar todas as noticias e novidades que estão ocorrendo ao longo do mundo.a </p>
            </div>
       </div>
       <h2 class="mt-2">O que é liberdade de informação? </h2>
       <p class="mt-1">Mas afinal de contas o que é liberdade de informação? Se você já ouviu falar sobre liberdade de expressão
                       provavelmente, já deve saber o que é liberdade de informação.</p>
       <p class="mt-t">A liberdade de informação deriva da liberdade de expressão,
        sendo o ela o fato de a pessoa/individuo ter a possibilidade de acesso a conteúdos, dados e a ficar informado sobre o que ocorre a sua volta.</p>
       <h2 class="mt-2">O que é direito à informação? </h2>
       <p class="mt-1">Sendo a liberdade o fato de voce poder ter acesso a informação, o direito é o que garante
            que essa possibilidade seja real, e não apenas uma possibilidade. </p>
       <h2 class="mt-2">Pra que serve e como funciona? </h2>
       <p class="mt-1">A liberdade de informação, unida ao direito a ela, servem para construir um estado menos desigual, ignorante e
        condicionado, pois, quando o individuo tem acesso ao que é fato e ocorre ao seu redor, ele automaticamente está munido a agir
        contra o que não é verdade e que traz desigualdade ou descriminação.</p>
       <h2 class="mt-2">Onde e como conseguir seu direito a informação? </h2>
       <p class="mt-1">Há varias formas de se adquirir conhecimento, conteúdo, dados e informação quanto ao que acontece, seja em seu, pais, estado,
        cidade, município, bairro… Estando agora na geração Alpha, a frente da Z, provavelmente o meio pelo qual você mais fica informado
        é através de internet, televisão, youtube…Mas venho aqui também lhe lembrar meios “antigos” de se adquirir informação, como, por exemplo,
        jornais, revistas e impressos.
       </p>
       <p class="mt-t">Esses meios ainda existem, apesar de terem sido ultrapassados, pela facilidade e disponibilidade
        da internet hoje em dia. É fato que, alguns anos atras, se quiséssemos conseguir informação fácil, buscaríamos
        rapidamente um jornal ou radio para consegui-las, e isso nos mostra que de fato é um meio justo de informação.</p>
       <h2 class="mt-2">E isso é tudo? </h2>
       <p class="mt-t">Por fim, quero lembrar a você sobre a nossa existência, Hackin esta aqui exatamente por isso, trazer
        informação ao público através de meios diferentes da grande mídia, hoje em dia normalmente é dada uma informação por
        fontes maiores e ela só é repassada, não se vê muitos meios de divulgação de informação pequenos.</p>
        <h2 class="mt-2">Leia  e assista mais sobre o assunto: </h2>
        <a class="mt-2" target="_blank" href="https://www.conjur.com.br/2020-mai-25/mp-debate-reflexoes-direito-informacao-liberdade-informacao">Debate sobre direito e liberdade à informacao</a>
        <br>
        <a target="_blank" href="https://www.youtube.com/watch?v=0Oo6VdtD0WQ">Liberdade de informação constituição federal | Debates Constitucionais</a>
        <p class="mt-2">por Guilherme Vaz</p>
   </div>
   <footer>
        <div class="Rodape">
            <img width="25" height="25" src="./svgs/icon_dark.png" alt="">
            <h6>2021 Hackin</h6>
            <h5>+55 35 9 9819 0720</h5>
            <h5>guilimat233@gmail.com</h5>
        </div>
   </footer>
</body>
</html>